<p></p>
<p class="h1 text-center">Stores Management</p> 
<hr />

{{#if stores}}
<div class="card card-body bg-light" style="margin:auto">
    <p class="h3">Stores Available <a type="button" href="/admin/registerStore" class="btn btn-primary">Add Store</a></p>
    <hr />
    <p></p>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Store ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </thead>
        <tbody id = "myTable">
            {{#each stores}}
            <tr>
                <th scope="row">{{id}}</th>
                <th scope="row">{{name}}</th>
                <th scope="row">{{category}}</th>
                <th scope="row"><a href="/admin/editAcc/{{id}}" class="btn btn-info"><i class="fas fa-pencil-alt"></a></th>
                <th scope="row"><a href="/admin/deleteAcc/{{id}}" class="btn btn-danger" data-toggle="confirmation"
                        data-title="Confirm delete?">
                        <i class="far fa-trash-alt"></i></a>
                </th>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}

<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script>

{{!-- <div class="card border-primary w-75 ml-auto mb-3">
			<div class="card-header">
				<h5 class="card-title">{{name}}</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-2">
						<a href="{{posterURL}}" data-title="{{name}}" data-toggle="lightbox">
							<img src="{{posterURL}}" alt="Poster" class="img-thumbnail img-fluid mb-2"
								onerror="this.src='/img/no-image.jpg'" style="max-height:160px">
						</a>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Category</p>
								<p class="text-info">{{category}}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<p>
							<a href="/admin/editStore/{{id}}" class="card-link mb-2">
								<i class="fas fa-pencil-alt"></i>
								Edit
							</a>
						</p>
						<p>
							<a href="/admin/deleteStore/{{id}}" class="card-link" data-toggle="confirmation"
								data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</p>
					</div>
				</div>
			</div>
		</div> --}}