<div class="container">
	{{#if order}}
	<div class="card card-body">
		<h3 class="text-primary">Order History</h3>
		{{#each order}}
		<div class="card border-primary mb-2 w-100 mx-auto">
			<div class="card-header">
				<h5 class="card-title">{{username}}</h5>
			</div>
			<div class="card-body">
                <table>
					<tr>
						<th>Name</th>
						<th>quantity</th>
					</tr>
					<tr>
						<th>{{name}}</th>
						<th>{{quantity}}</th>
					</tr>
					<tr>
						<th>Total Price:</th>
						<th>${{totalprice}}</th>
					</tr>
                    <tr>
                        <td>
                            <a href="/admin/deleteOrder/{{id}}" class="card-link" data-toggle="confirmation"
								data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
                        </td>
                    </tr>
				</table>
			</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Customer Orders</h3>
	{{/if}}
</div>

<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script>