<div class="container">
	{{#if order}}
	<div class="card card-body">
		<h3 class="text-primary">Order History</h3>
		{{#each order}}
		<div class="card border-primary mb-2 w-100 mx-auto">
			<div class="card-header">
				<h5 class="card-title">Order id: {{id}}</h5>
				<h6 class="card-title">Delivery Status:
					{{#if status includeZero = true}}
					{{#if status includeZero = false}}
					Delivered!
					{{else}}
					Currently Delivering!
					<input type="hidden" id="status" name="status" value="{{status}}" />
					<a class = "float-right btn btn-primary" href="/admin/updateDelivery/{{id}}">Update status to "Delivered!"</a>
					{{/if}}
					{{else}}
					Preparing to Deliver!
					<input type="hidden" id="status" name="status" value="{{status}}" />
					<a class = "float-right btn btn-primary" href="/admin/updateDelivery/{{id}}">Update status to "Delivering"</a>
					{{/if}}

				</h6>
			</div>
			<div class="card-body">
				<table>
					<tr>
						<th>Name, Quantity</th>

					</tr>
					<tr>
						<th>{{replaceCommas cart}}</th>
					</tr>
					<tr>
						<th>Total Price: ${{totalprice}}</th>
					</tr>
					<tr>
						<td>
							<a href="/admin/deleteOrder/{{id}}" class="card-link btn btn-danger" data-toggle="confirmation"
								data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Customer Orders</h3>
	{{/if}}
</div>

<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script>