<p></p>
<p class="h1 text-center">Accounts Management</p>
<hr />
{{#if users}}
<div class="card card-body bg-light">
    <p class="h3">User & Admin Accounts     <a type="button" href="/admin/registerAdmin" class="btn btn-primary">Add Admin Account</a></p>
    <hr />
    <p></p>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Account Type</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{id}}</th>
                <th scope="row">{{name}}</th>
                <th scope="row">{{email}}</th>
                <th scope="row">
                    {{#if status includeZero=false}}
                    Admin
                    {{else}}
                    User
                    {{/if}}
                </th>
                <th scope="row"><a href="/admin/editAcc/{{id}}" class="btn btn-info">Edit</a></th>
                <th scope="row"><a href="/admin/deleteAcc/{{id}}" class="btn btn-danger" data-toggle="confirmation"
                        data-title="Confirm delete?">
                        <i class="far fa-trash-alt"></i>>Delete</a>
                </th>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>