{{#if menu}}
<style>
	.card:hover {
		transform: scale(1.03)
	}

	.card {
		transition: transform 0.2s ease;
	}
</style>
<p></p>
<p class="h1 text-center">{{store.name}}'s Menu</p>
<hr />

<div class="container">
	<div class="row">
		{{#each menu}}
		<div style="width:30%; margin:auto; margin-bottom: 20px;">
			<form class="product" method="post">
				<div class="col">
					<div class="card" style="margin: auto; margin-bottom: 20px">
						<img src="{{posterURL}}" class="card-img-top" alt="{{name}}"
							style="width: 100%; height: 10vw; object-fit: cover;">
						<div class="card-body">
							<input hidden="hidden" class="form-control mb-1" id="id" name="id" value="{{id}}"
								onblur="initialiseTitle()" />
							<div class="d-flex flex-row justify-content-between">
								<input hidden="hidden" class="form-control mb-1" id="name" name="name" value="{{name}}"
									onblur="initialiseTitle()" /><b>{{name}}</b>
								<b><p class="price-value justify-right"><input hidden="hidden" class="form-control mb-1"
										id="price" name="price" value="{{price}}"
										onblur="initialiseTitle()" />${{price}}
								</p></b>
							</div>
							<p class="card-text">{{description}}</p>
							<p><input type="image" src="/img/atc.png"></p>
						</div>
					</div>
				</div>
			</form>
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Menu Available</h3>
	{{/if}}
</div>