<div class="heading">
  <h2>Our Menu</h2>
</div>

{{#if menu}}
<section class="products">
  <aside>
    {{!-- <div class="categories">
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_desktop_windows.png" class="category-img">
          <p class="category-name">Popular</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_desktop_windows.png" class="category-img">
          <p class="category-name">Western</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_laptop.png" class="category-img">
          <p class="category-name">Healthy</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_keyboard.png" class="category-img">
          <p class="category-name">Drinks</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="/img/icons/category/ic_memory.png" class="category-img">
          <p class="category-name">Desserts</p>
        </div>
        <img src="/img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
    </div> --}}
  </aside>
  <main>
    {{!-- <nav>
      <ul class="filters">
        <li class="filter"><a href="/order/rating">Popular products</a></li>
        <li class="filter"><a href="/order/low-price">Low price</a></li>
        <li class="filter"><a href="/order/price">High price</a></li>
      </ul>
      <div class="display">
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_grid.png" alt="Display Grid">
        </a>
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_list.png" alt="Display Line">
        </a>
      </div>
    </nav> --}}
    <div class="products-list">
      {{#each menu}}
        <form class="product" method="post">
          <div class="labels">
            <p class="promotion">Popular</p>
            {{!-- <div class="actions">
              <a href="/add-to-cart/{{this.id}}" class="add-list">
                <img src="/img/no-image.jpg" alt="Add to list">
              </a>
              <a href="/add-to-favorite/{{this.id}}" class="add-favorites">
                <img src="/img/no-image.jpg" alt="Add to favorites">
              </a>
            </div> --}}
          </div>
          <img src="{{posterURL}}" alt="{{name}}" class="product-img">
          <input hidden="hidden" class="form-control mb-1" id="id" name="id" value="{{id}}"
					onblur="initialiseTitle()" />
          <input hidden="hidden" class="form-control mb-1" id="name" name="name" value="{{name}}"
					onblur="initialiseTitle()" />{{name}}
          {{!-- Rating System --}}
          {{!-- <div id="rating" data-rating="{{rating}}"></div> --}}

          <div class="price">
            <p class="price-value"><input hidden="hidden" class="form-control mb-1" id="price" name="price" value="{{price}}"
						onblur="initialiseTitle()" />${{price}} </p>
            <p><input type="image" src="/img/cart.png"></p>
          </div>
        </form>
      {{/each}}
    </div>
  </main>
</section>
{{/if}}



{{!-- Menu WIP --}}

{{!-- <div class="main">
	<div class="section-title">
		<h2>Our Menu</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vero quod reprehenderit iste blanditiis
			consectetur quam vitae quis delectus tempore, molestiae officia fugiat cumque suscipit maiores voluptatem
			aperiam esse voluptates.</p>
	</div>
	<div class="menus">
		{{#if menus}}
		<div class="menu-column">
			<h4>Breakfast</h4>
			{{#each menus}}
			<div class="single-menu">
				<a href="{{posterURL}}" data-title="{{name}}" data-toggle="lightbox"> <img src="{{posterURL}}"
						alt="Poster" class="img-thumbnail img-fluid mb-2" onerror="this.src='/img/no-image.jpg'"
						style="max-height:160px"></a>
				<div class="menu-content">
					<h5>{{name}} <span>${{price}}</span></h5>
					<p>{{description}}</p>
				</div>
			</div>
			{{/each}}
		</div>
		{{else}}
		<h3>No Menu Available</h3>
		{{/if}}
	</div>
</div> --}}




{{!-- Original Menu --}}

{{!-- <div class="container">
	{{#if menus}}
	<div class="card card-body">
		<h3 class="text-primary">Menu</h3>
		{{#each menus}}
		<div class="card border-primary mb-2 w-100 mx-auto">
			<div class="card-header">
				<h5 class="card-title">{{name}}</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-2">
						<a href="{{posterURL}}" data-title="{{name}}" data-toggle="lightbox">
							<img src="{{posterURL}}" alt="Poster" class="img-thumbnail img-fluid mb-2"
								onerror="this.src='/img/no-image.jpg'" style="max-height:160px">
						</a>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Description</p>
								<p class="text-info">{{description}}</p>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Price</p>
								<p class="text-info">${{price}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Menu Available</h3>
	{{/if}}
</div>

<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script> --}}