<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

<div class="heading">
    <h1>User Profile</h1>
    <a href="editProfile/{{users.id}}">Edit Profile</a>
</div>

<div class=".col-md-20" style="display: flex; flex-direction: row;">
    <div class="text-danger small mb-3" id="posterErr" style="display:none"></div>
    <img id="poster" src="{{users.posterURL}}" alt="Poster" class="border img-thumbnail img-fluid" style="max-height:250px; max-width:250px;"
        onerror="this.src='/img/no-image.jpg'">
    <div class="card card-body">
        <div class="col-xl-10">
            <div class="col-xl-8" style="display: flex; flex-direction: row;">
                <h1>{{users.name}}</h1>
                <img src="/img/userCart.png">
            </div>
            <p></p>
            <p>Account Created On: {{formatDate users.createdAt 'DD/MM/YY'}}</p>
            <p>Purchases Made: 0</p>
        </div>
    </div>
    <div class="card card-body col-xl-4">
        <h4 style="text-decoration:underline;">Order History</h4>
        {{#if orders}}
        {{#each orders}}
        {{name}}
        {{quantity}}
        {{/each}}
        {{else}}
        No orders?
        {{/if}}

    </div>
</div>
<p></p>
<div class="card card-body">
    <h4 style="text-decoration: underline;">Reviews</h4>
</div>

<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
        value: moment().format('DD/MM/YYYY'),
    });
</script>