<div class="container">
    <div class="card card-body">
        <h3>Details</h3>
        <div class="row mb-3">
            <div class="col-lg-9">
                <div class="text-danger small mb-2" id="posterErr" style="display:none"></div>
                <img id="poster" src="{{promotion.posterURL}}" alt="Poster" class="border img-
thumbnail img-fluid" onerror="this.src='/img/no-image.jpg'">
                <div class="form-group">
                    <b>Title</b>
                    <p>{{promotion.title}}</p>
                </div>
                <div class="form-group">
                    <b>Description</b>
                    <p>{{promotion.description}}</p>
                </div>
                <div class="form-group">
                    <b>Store Owner</b>
                    <p>{{promotion.storeowner}}</p>
                </div>
                <div class="form-group">
                    <b>Date Released</b>
                    <p><var>{{formatDate promotion.dateRelease 'DD/MM/YYYY'}}</var></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a href="/promotion/userInterface">Back</a>
</div>
</div>

<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
    });
</script>