<div class="container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {{#if stores}}
    {{#each stores}}
    <h1>{{name}} - ({{category}})</h1><hr>
    
    {{#if promotions}}
    {{#each promotions}}
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    {{/each}}
    {{else}}
    No promotions available.
    {{/if}}
    
    {{/each}}

    {{/if}}
</div>

