<div class="container">

    {{#if stores}}
    {{#each stores}}
    <h1>{{name}} - ({{category}})</h1><hr>
    
    {{#if promotions}}
    {{#each promotions}}
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    {{/each}}
    {{else}}
    No promotions available.
    {{/if}}
    
    {{/each}}

    {{/if}}
</div>

